<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.med2">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/tt_icon"
        android:label="Techster Texter"
        android:roundIcon="@mipmap/tt_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Med2">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <activity android:name=".web3"></activity>
        <activity android:name=".web2" />
        <activity android:name=".web" />
        <activity
            android:name=".create_group"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".chat"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>